VITE_BASE_URL=https://api.themoviedb.org/3
VITE_TOKEN_APP=yourToken
VITE_API_KEY=yourKey
VITE_CLERK_PUBLISHABLE_KEY=clerkToken

# HOW TO USE .ENV IN REACT (GENERATED USING "VITE")
# 1. Add a `.env` file.
# 2. Inside the `.env` file, add variables in the format VITE_BLA_BLA.
# 3. Assign values to the variables.
# 4. Last but not least, if you want to use these variables, import them using `import.meta.env`.
#    Example: `import.meta.env.VITE_BASE_URL`
